body ,.the-main{
text-align: center;
background:rgb(29, 29, 29);
margin: 0px;
}


.hp-news-container{
    border: white 1px solid;
    color: #fff;
    display: inline-block;
    text-align: left;
    padding: 2px;
}

.hp-news-block-container-1 ,.hp-news-block-container-2,.hp-news-block-container-3{
    margin: 10px;
    padding: 5px;
    height: 600px;
    width: 500px;

}

.hp-news-title{
    font-family: "Book Antiqua";
    font-size: 38px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 2px;
}
.hp-news-category,.hp-news-author , .hp-news-date{
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    font-family: "Arial";
    margin: 2px;
}

