body{
  text-align: center;
  background-color:rgb(238, 238, 238);
}

h1 {
  color:rgb(41, 41, 41);
  text-transform: capitalize;
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
}
h2{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;


}

.guidebooks , .weekend{
  padding: 30px;
  margin: 20px;
}

.london{
  background-image: url('../img/london.jpg');
  width: 25%;
  height: 350px;
  margin: 15px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.new-york{
  background-image: url('../img/new-york.jpg');
  width: 25%;
  height: 350px;
  margin: 15px;
  display: flex;
  justify-content:center;
  align-items: center;

}
.san-francisco{
  background-image: url('../img/san-francisco.jpg');
  width: 25%;
  height: 350px;
  margin: 15px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.napa{
  background-image: url('../img/napa.jpg');
  width: 25%;
  height: 350px;
  margin: 15px;
  display: flex;
  justify-content:center;
  align-items: center;


}

.sonoma{
  background-image: url('../img/sonoma.jpg');
  width: 25%;
  height: 350px;
  margin: 15px;
  display: flex;
  justify-content:center;
  align-items: center;


}
.san-francisco2{
  background-image: url('../img/san-francisco-2.jpg');
  width: 25%;
  height: 350px;
  margin: 15px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.imgs{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}



button{
  background-color: white;
  font-weight: bold;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  border: 1px solid black;
}